body {
  font-family: "Sen";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  background-color: #000000;
  color: #8491A0;
  width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.header {
  position: relative;
  width: 100%;
  border-bottom: 2px dashed #8491A0;
}

.header__logo::before {
  content: "";
  display: inline-block;
  background-image: url(../imeges/logo.svg.svg);
  width: 79px;
  height: 24px;
}

.header__nav {
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 20px;
  background-color: #000000;
  border: none;
  cursor: pointer;
}

.svg-menu-open,
.svg-menu-close {
  fill: #FBE4FF;
}

.header__button .svg-menu-close {
  display: none;
}

.header__button.is-open .svg-menu-close {
  display: block;
}

.header__button.is-open .svg-menu-open {
  display: none;
}

.menu-box {
  position: absolute;
  top: 72px;
  right: 20px;
  z-index: 10;
}

.header__item:not(:last-child) {
  margin-bottom: 10px;
}

.header__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  border-radius: 4px;
  border: 1px solid #8491A0;
  padding: 8px 16px;
  text-align: center;
  background-color: #000000;
}
.header__item:nth-child(1) {
  -webkit-transform: translateY(-1510%);
          transform: translateY(-1510%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__item:nth-child(1).is-open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.header__item:nth-child(2) {
  -webkit-transform: translateY(-1510%);
          transform: translateY(-1510%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0.1s;
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0.1s;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0.1s;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0.1s, -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0.1s;
}
.header__item:nth-child(2).is-open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.header__item:nth-child(3) {
  -webkit-transform: translateY(-1510%);
          transform: translateY(-1510%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0.2s, -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
}
.header__item:nth-child(3).is-open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.header__item:nth-child(4) {
  -webkit-transform: translateY(-1510%);
          transform: translateY(-1510%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0.3s, -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
}
.header__item:nth-child(4).is-open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.box-header-info {
  padding: 0 20px;
  margin: 48px 0;
}

.header__tital {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.text-help {
  color: #8491A0;
}

.header__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
}

.experience {
  padding: 48px 20px;
}

.experience__tital {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 8px;
}

.experience__text {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #FFFFFF;
}

.experience__job-number {
  font-weight: 400;
  font-size: 117px;
  line-height: 141px;
}

.experience__work-place {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 16px;
  color: #FFFFFF;
}

.experience__info {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.google {
  color: #3CC74E;
}

.facebook {
  color: #609BFF;
}

.dribbble {
  color: #E95D90;
}

.experience__item:not(:last-child) {
  margin-bottom: 48px;
}

.experience__item {
  margin-top: 40px;
}

.about-me__info {
  padding: 48px 20px;
  background-color: #FFF3E4;
}

.about-me__tital {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
  margin-bottom: 24px;
}

.about-me__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #5B6876;
  margin-bottom: 90px;
}

.about-me__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  border-bottom: 1px solid #8491A0;
  color: #181823;
}

.skillset {
  padding: 78px 20px 64px 20px;
}

.skillset__item {
  margin-top: 69px;
  margin-bottom: 64px;
}

.skillset__tital {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.skillset__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.skillset__skill {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: #FFFFFF;
  margin-top: 24px;
}

.skillset__info {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-top: 12px;
}

.skillset__info:not(:last-child) {
  margin-bottom: 48px;
}

.company__list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.company__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #181823;
  width: 180px;
  height: 140px;
}

.project {
  padding: 64px 20px 70px 20px;
}

.project__tital {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 8px;
}

.project__info {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #FFFFFF;
}

.project__list {
  margin-top: 80px;
}

.project__button {
  display: none;
}

.project__box {
  padding: 40px 32px 40px 32px;
  background-color: #181823;
}

.project__item:not(:last-child) {
  margin-bottom: 48px;
}

.project__tital {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: #FFFFFF;
  margin-bottom: 13px;
}

.project__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.instagram__info {
  padding: 48px 20px 48px 20px;
  background-color: #FBE4FF;
}

.instagram__tital {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
}

.instagram__text {
  margin-bottom: 125px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #5B6876;
}

.instagram__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #181823;
  border-bottom: 1px solid #8491A0;
}

.dribbble {
  padding: 64px 20px 112px 20px;
}

.dribbble__tital {
  font-weight: 700;
  font-size: 55px;
  line-height: 66px;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.dribbble__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 40px;
  color: #8491A0;
}

.dribbble__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  border-bottom: 1px solid #8491A0;
}

.dribbble__img {
  margin-top: 68px;
}

.reviews {
  padding: 0 20px;
}

.reviews__tital {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.reviews__info {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 40px;
}

.reviews__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  border-bottom: 1px solid #8491A0;
}

.reviews__list {
  margin: 68px 0;
}

.reviews__item:not(:last-child) {
  margin-bottom: 48px;
}

.reviews__card-info {
  padding: 32px;
  border: 1px solid #8491A0;
}

.reviews__response {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: #FFFFFF;
}

.reviews__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  margin-top: 64px;
  margin-bottom: 4px;
}

.reviews__company {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.photography__tital {
  color: #FFFFFF;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 40px;
  padding: 0 20px;
}

.help {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.photography__text {
  padding: 0 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 40px;
}

.photography__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
}

.photography__button {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
  background-color: #000000;
  border: 1px solid #5221E6;
  padding: 12px 0;
  width: 148px;
}

.photography__list {
  margin-bottom: 48px;
}

.photography__foto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.photography__foto:not(:last-child) {
  margin-bottom: 24px;
}/*# sourceMappingURL=main.css.map */