.about-me__info{
    padding: 48px 20px;
    background-color: $color-violet;
}
.about-me__tital{
    font-weight: 700;
font-size: 32px;
line-height: 38px;
color: $color-black;
margin-bottom: 24px;
}
.about-me__text{
    font-weight: 400;
font-size: 18px;
line-height: 150%;
color: $color-dark-gray;
margin-bottom: 90px;
}
.about-me__link{
    font-weight: 400;
font-size: 16px;
line-height: 150%;
border-bottom: 1px solid $color-text;
color: $color-background;
}
@media screen and (min-width: 361px) and (max-width: 767px) {

  }