.footer{
    padding: 48px 20px;
    background-color: $color-background;
}
.footer__logo::before{
    content: '';
    display: inline-block;  
    background-image: url(../imeges/logo-footer.svg);
    width: 130px;
    height: 40px;
}
.footer__list-icon{
    display: flex;
    margin-top: 37px;
    margin-bottom: 51px;
}
.footer__item-icon:not(:last-child){
    margin-right: 20px;
}
.footer__item{
    width: 154px;
    height: 48px;
    font-style: normal;
}
.footer__link{
    font-weight: 400;
font-size: 16px;
line-height: 150%;
color: $color-white;
}
.link-creat{
    color: $color-blue;
}
@media screen and (min-width: 361px) and (max-width: 767px) {

}
@media screen and (min-width: 768px){
    .footer{
        position: relative;
        padding: 80px 40px 56px 40px;
    }
    .footer-box__lists{
        display: flex;   
        position: absolute;
        right: 0;
    }
    .footer__info{
        margin-top: 48px;
    }

}
@media screen and (min-width: 1440px){
    .footer{
        padding: 80px 72px 80px 72px;
    }
    .footer-box__lists{
        margin-right: 200px;
    }
    .global-box-footer{
        width: 1286px;
    }

}