body{
    font-family: 'Sen';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
background-color: $color-black;
color: $color-text;
width: 100%;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .list{
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  .link{
    text-decoration: none;
  }
  @media screen and (min-width: 361px) and (max-width: 767px) {

  }
  @media screen and (min-width: 1440px){
    // .conteiner{
    //   width: 1440px;
    // }
    body{
      width: 100%;
      margin: 0 auto;
    }
    .global-box{
      display: flex;
      justify-content: center;
    }

  }