.header{
    position: relative;
    // width: 100%;
    border-bottom: 2px dashed  $color-text;
    // background-image: linear-gradient(
        //     to right,
        //     $color-black 37%,
        //     $color-background 37%
        // );
        
    }
    .header__img{
        width: 360px;
    }
    .header__img2{
        display: none;
    }
    .header__logo::before{
        content: '';
        display: inline-block;  
        background-image: url(../imeges/logo.svg.svg);
        width: 79px;
        height: 24px;
    }
    .header__nav{
        height: 72px;
        display: flex;
        padding: 0 20px;
        align-items: center;
    }
    .header__button{
        display: flex;
        position: absolute;
        right: 20px;
        background-color: $color-black;
        border: none;
        cursor: pointer;
    }
    .svg-menu-open,
    .svg-menu-close{
        fill: $color-peach;
    }
    .header__button .svg-menu-close{
        display: none;
    }
    .header__button.is-open .svg-menu-close{
        display: block;
    }
    .header__button.is-open .svg-menu-open{
        display: none;
    }
    .menu-box{
        position: absolute;
        top: 72px;
        right: 20px;
        z-index: 10;
    }
    .header__item:not(:last-child){
        margin-bottom: 10px;
    }
    .header-menu-button{
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: $color-white;
        border-radius: 4px;
        border: 1px solid $color-primary;
        text-align: center;
        background-color: $color-black;
        transition: background-color 250ms $cubic;
        padding: 8px 16px;
        width: 150px;
        
    }
    .header-menu-button:hover,
    .header-menu-button:focus{
        background-color: $color-primary;
    }
    .header__item{

        &:nth-child(1){
            transform: translateY(-1510%);
            transition: transform 250ms $cubic ;
            &.is-open{
                transform: translateY(0);
    
            }
        }
        &:nth-child(2){
            transform: translateY(-1510%);
            transition: transform 250ms $cubic 0.2s;
            &.is-open{
                transform: translateY(0);
    
            }
        }
        &:nth-child(3){
            transform: translateY(-1510%);           
            transition: transform 250ms $cubic 0.4s;
            &.is-open{
                transform: translateY(0);
    
            }

        }
        &:nth-child(4){
            transform: translateY(-1510%);
            transition: transform 250ms $cubic 0.6s;
            &.is-open{
                transform: translateY(0);
            }
        }
    }
    .box-header-info{
        padding: 0 20px;
        margin: 48px 0;
    }
    .header__tital{
font-weight: 700;
font-size: 32px;
line-height: 38px;
color: $color-white;
        margin-bottom: 16px;
    }
    .text-help{
        color: $color-text;
    }
    .header__text{
font-weight: 400;
font-size: 18px;
line-height: 150%;


color: $color-white;
    }
    .header__img3{
        display: none;
    }
    .menu-box-alt{
        display: none;
    }
    @media screen and (max-width: 359px) {
        .header__img {
          width: 100%;
        }
      }
      @media screen and (min-width: 768px){
        .menu-box-alt{
            display: inline;
        }
        .menu-box{
            display: none;
        }
        .header__button{
            display: none;
        }
        .header__nav{
            padding: 0 40px;
        }
        .header__list-alt{
            display: flex;
            position: absolute;
            right: 40px;
            top: 0;
        }
        .header-menu-button-alt{
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            padding: 32px 24px;
            border: none;
            color: $color-white;
            background-color: $color-black;
            transition: background-color 250ms $cubic;
        }
        .header__img{
            display: none;
        }
        .header__img2{
            display: block;
        }
        .box-header-info{
            position: relative;
            padding: 0 0;
            margin: 68px 0 164px 0 ;
        }
        .header__tital{
            font-weight: 700;
font-size: 56px;
line-height: 67px;
            width: 408px;
            position: absolute;
            right: 40px;
            top: 68px;
        }
        .header__text{
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
        }
        .box-header__text{
            width: 408px;
         position: absolute;
         top: 435px;
         right: 40px;
        }
        .header{
            border: none;
        }
        .header-menu-button-alt:hover,
        .header-menu-button-alt:focus{
            background-color: $color-primary;
        }
        .header__img3{
            display: none;
        }
    }
    @media screen and (min-width: 1440px){
        .header__nav{
            padding: 0 72px;
        }
        .header__tital{
            width: 738px;
            top: 141px;
        }
        .box-header__text{
            width: 738px ;
            top: 385px;
        }
        .header__img2{
            display: none;
        }
        .header__img3{
            display: block;
            // padding-bottom: 72px;
        }
        .header{
            height: 900px;
            border-bottom: 2px dashed  $color-text;
            background-image: linear-gradient(
                to right,
                $color-black 37%,
                $color-background 37%
            );

        }
        .header-menu-button-alt{
            background-color: $color-background;
        }

    }