.instagram__info{
    padding: 48px 20px 48px 20px;
    background-color: $color-peach;
}
.instagram__tital{
    margin-bottom: 16px;
    font-weight: 700;
font-size: 32px;
line-height: 38px;
color: $color-black;
}
.instagram__text{
    margin-bottom: 125px;
    font-weight: 400;
font-size: 18px;
line-height: 150%;
color: $color-dark-gray;
}
.instagram__link{
    font-weight: 400;
font-size: 16px;
line-height: 150%;
color: $color-background;
border-bottom: 1px solid $color-text;

}
@media screen and (min-width: 361px) and (max-width: 767px) {
    .instagram__img-box{
        display: flex;
        justify-content: center;
        background-color: $color-peach;
        padding-bottom: 15px;
    }

}
@media screen and (min-width: 768px){
    .instagram{
        display: flex;
        justify-content: center;
    }
    .instagram__info{
        padding: 80px 40px;
        width: 384px;
    }
    .instagram__img-box{
        width: 384px;
        height: 600px;
    }

}