.photography__tital{
color: $color-white;
margin-bottom: 24px;
font-weight: 400;
font-size: 18px;
line-height: 150%;
margin-bottom: 40px;
padding: 0 20px;
}
.help{
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}
.photography__text{
    padding: 0 20px;
    font-weight: 400;
font-size: 18px;
line-height: 150%;
margin-bottom: 40px;
}
.photography__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}
.photography__button{
    font-weight: 700;
font-size: 18px;
line-height: 150%;
color: $color-white;
background-color: $color-black;
border: 1px solid $color-primary;
    padding: 12px 0;
   width: 148px;
   transition: background-color 250ms $cubic;
}
.photography__button:hover,
.photography__button:focus{
    background-color: $color-primary;
}
.photography__list{
    margin-bottom: 48px;
}
.photography__foto{
    display: flex;
    justify-content: center;
}
.photography__foto:not(:last-child){
    margin-bottom: 24px;

}
@media screen and (min-width: 361px) and (max-width: 767px) {

}
@media screen and (min-width: 768px){
    .photography{
        padding: 0 40px 160px 40px;
    }
    .help{
        font-weight: 700;
font-size: 55px;
line-height: 66px;
    }
    .photography__text{
        margin-bottom: 64px;
    }
    .photography__img{
        width: 332px;
        height: 420px;
    }

    .photography__album{
        margin: 0 auto;
        width: 688px;
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }
    .photography__foto:not(:last-child){
        margin-bottom: 0px;
    }

}
@media screen and (min-width: 1440px){
    .photography{
        padding: 0 72px 240px 72px;
    }
    .photography__text{
        width: 588px;
    }
    .photography__list{
        justify-content: start;
    }
    .photography__img{
        width: 306px;
    }
    .photography__album{
        justify-content: start;
        width: 1296px;
        margin: 0 0;
        gap: 0;
    }
    .photography__foto:not(:last-child){
        margin-right: 24px;

    }
    
}