.project{
    padding: 64px 20px 70px 20px;
}
.project__span{
    font-weight: 700;
font-size: 16px;
line-height: 150%;

color: #8491A0;

}
.project__img{
    width: 320px;
    height: 400px;
}
.project__tital{
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: $color-text;
margin-bottom: 8px;
}
.project__img2{
    display: none;
}
.project__info{
    font-weight: 700;
font-size: 32px;
line-height: 38px;
color: $color-white;
}
.project__list{
    margin-top: 80px;
}
.project__button{
    display: none;
}
.project__box{
    padding: 40px 32px 40px 32px;
    background-color: $color-background;
}
.project__item:not(:last-child){
    margin-bottom: 48px;
}
.project__tital{
    font-weight: 700;
font-size: 24px;
line-height: 150%;
color: $color-white;
margin-bottom: 13px;
}
.project__text{
    font-weight: 400;
font-size: 18px;
line-height: 150%;
}
@media screen and (min-width: 361px) and (max-width: 767px) {
    .project__item{
        margin: 0 auto;
       width: 320px;
    }

}
@media screen and (min-width: 768px){
    .project{
        padding: 80px 40px;
    }
    .project__info{
        font-weight: 700;
font-size: 55px;
line-height: 66px;
    }
    .project__img{
        display: none;
    }
    .project__img2{
        display: block;
    }
    .project__item{
        width: 688;
    }
    .project__box{
        width: 688px;
    }
    .project__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }



}
@media screen and (min-width: 1440px){
    .project{
        position: relative;
        height: 2021px;
        padding: 120px 72px 153px 72px;
        margin-bottom: 100px;
    }
    .project-box-help{
        width: 572px;
    }
    .project__item{
        position: absolute;
        width: 636px;
    }
    .project__box{
        width: 636px;
    }
    .project__list{
        justify-content: start;
    }
    .project__item:nth-child(1){


    }
    .project__item:nth-child(2){
        left: 732px;
        top: 120px;
    }
    .project__item:nth-child(3){
        top: 1200px;
        left: 72px;
        
    }
    .project__item:nth-child(4){
        left: 732px;
        top: 944px;
        
    }
    .project__button{
        font-weight: 700;
font-size: 18px;
line-height: 150%;
color: $color-white;
border: 1px solid $color-primary;
padding: 18px;
background-color: $color-black;
        display: block;
        position: absolute;
        left: 977px;
        top: 1800px;
        transition: background-color 250ms $cubic;
    }
    .project__button:hover,
    .project__button:focus{
       background-color: $color-primary;
    }

}
