.project{
    padding: 64px 20px 70px 20px;
}
.project__tital{
    font-weight: 700;
font-size: 16px;
line-height: 150%;
margin-bottom: 8px;
}
.project__info{
    font-weight: 700;
font-size: 32px;
line-height: 38px;
color: $color-white;
}
.project__list{
    margin-top: 80px;
}
.project__button{
    display: none;
}
.project__box{
    padding: 40px 32px 40px 32px;
    background-color: $color-background;
}
.project__item:not(:last-child){
    margin-bottom: 48px;
}
.project__tital{
    font-weight: 700;
font-size: 24px;
line-height: 150%;
color: $color-white;
margin-bottom: 13px;
}
.project__text{
    font-weight: 400;
font-size: 18px;
line-height: 150%;
}
@media screen and (min-width: 361px) and (max-width: 767px) {
    .project__item{
        margin: 0 auto;
       width: 320px;
    }

}