.reviews{
    padding: 0 20px;
}

.reviews__tital{
    font-weight: 700;
font-size: 32px;
line-height: 38px;
color: $color-white;
margin-bottom: 16px;
}
.reviews__info{
    font-weight: 400;
font-size: 18px;
line-height: 150%;
margin-bottom: 40px;
}
.reviews__link{
    font-weight: 400;
font-size: 16px;
line-height: 150%;
color: $color-white;
border-bottom: 1px solid $color-text;
}
.reviews__list{
    margin: 68px 0;
}
.reviews__item:not(:last-child){
    margin-bottom: 48px;
}
.reviews__card-info{
    padding: 32px;
    border: 1px solid $color-text;
}
.reviews__response{
    font-weight: 700;
font-size: 24px;
line-height: 150%;
color: $color-white;
}
.reviews__name{
    font-weight: 700;
font-size: 18px;
line-height: 150%;
margin-top: 64px;
margin-bottom: 4px;
}
.reviews__company{
    font-weight: 400;
font-size: 18px;
line-height: 150%;
}
.reviews__img2{
    display: none;
}
@media screen and (min-width: 361px) and (max-width: 767px) {
    .reviews__img{
        width: 332px;
    }
    .reviews__item{
        margin: 0 auto;
        width: 332px;
    }

}
@media screen and (min-width: 768px){
    .reviews{
        display: flex;
        justify-content: center;
        padding: 0 40px 160px 40px;
    }
    .reviews__list{
        width: 332px;
        margin: 0 0;
    }
    .reviews__tital{
        font-weight: 700;
font-size: 55px;
line-height: 66px;
margin-bottom: 24px;
    }
    .reviews__info{
        margin-right: 24px;
    }
    .reviews__text{
        width: 332px;
    }

    
}
@media screen and (min-width: 1440px){
    .reviews__examples{
        width: 636px;
    }
    .reviews__list{
        width: 636px;
    }
    .gg{
        width: 1286px;
    }
    .conteiner-rav{
        width: 1440px;
        display: flex;
        justify-content: center;

    }
    .reviews{
        padding: 0 72px 240px 72px;
    }
    .reviews__img{
        display: none;
    }
    .reviews__img2{
        display: block;
    }
    .reviews__item{
        width: 636px;
        padding: 64px auto;
    }
    .reviews__response{
        width: 508px;
    }
    .reviews__text{
        width: 588px;
        margin-right: 72px;
    }
    .reviews__item:not(:last-child){
        margin-bottom: 120px;
    }

}