$color-black: #000000;
$color-background: #181823;
$color-light-gray: #DEECF9;
$color-dark-gray: #5B6876;
$color-white: #FFFFFF;
$color-blue: #609BFF;
$color-primary: #5221E6;
$color-green: #3CC74E;
$color-pink:#E95D90 ;
$color-violet: #FFF3E4;
$color-peach: #FBE4FF;
$color-text: #8491A0;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);